

                            @model VehicleMakeModel

@{
    ViewData["Title"] = "Add a new Vehicle make";
}

<div class="panel panel-default todo-panel">
    <div class="panel-heading">@ViewData["Title"]</div>

    <div class="panel-footer add-item-form">
        @await Html.PartialAsync("AddItemPartial", new VehicleMake())
    </div>

    <nav aria-label="Page navigation" class="paging">
        <ul class="pagination">
            <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                <a class="page-link" asp-action="Index" asp-route-pageIndex="@(Model.PageIndex - 1)" asp-route-sortOrder="@Model.SortOrder" 
                asp-route-searchString="@Model.SearchString" asp-route-searchStringModel="@Model.SearchStringModel" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @for (var i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                    <a class="page-link" asp-action="Index" asp-route-pageIndex="@i" asp-route-sortOrder="@Model.SortOrder" 
                    asp-route-searchString="@Model.SearchString" asp-route-searchStringModel="@Model.SearchStringModel">@i</a>
                </li>
            }

            <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                <a class="page-link" asp-action="Index" asp-route-pageIndex="@(Model.PageIndex + 1)" asp-route-sortOrder="@Model.SortOrder" 
                asp-route-searchString="@Model.SearchString" asp-route-searchStringModel="@Model.SearchStringModel" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>




    <form asp-action="Index" method="get">
        <div class="search">
            <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" class="form-control" placeholder="Search Make" />           
            <input type="hidden" name="sortOrder" value="@ViewData["CurrentSort"]" />
            <input type="hidden" name="pageIndex" value="@Model.PageIndex" />
            <input type="hidden" name="searchString" value="@Model.SearchString" />
            <button type="submit" class="btn btn-primary ml-2">Search make</button>
        </div>

    </form>

    <form asp-action="Index" method="get">
        <div class="search">
            <input type="text" name="searchStringModel" value="@ViewData["CurrentFilterModel"]" class="form-control" placeholder="Search model" />
            <input type="hidden" name="pageIndex" value="@Model.PageIndex" />
            <input type="hidden" name="searchStringModel" value="@Model.SearchStringModel" />
            <button type="submit" class="btn btn-primary ml-2">Search model</button>
        </div>
    </form>

        <div class="sort" style="display:inline">
            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-searchString="@ViewData["CurrentFilter"]" asp-route-pageIndex="@Model.PageIndex">Sort by name</a>
        </div>

    <table class="table table-hover">
        <thead>
            
        </thead>
        <tbody>

            @foreach (var make in Model.vehicleMakes)
            {         
                <tr>
                   
                    <td>
                       <div class="category">
                            Make:

                       </div>
                       <div class="naming">
                            Name:
                       </div>
                                           
                        <form asp-action="EditMake" method="post" class="form-inline">
                            <input type="hidden" name="Id" value="@make.Id" />
                            <input type="text" name="Name" value="@make.Name" class="form-control" placeholder="Name" />
                            <div class="naming">
                                Abrv:
                            </div>
                            
                            <input type="text" name="Abrv" value="@make.Abrv" class="form-control" placeholder="Abrv" />                        
                            <button type="submit" class="btn btn-primary ml-2">Save</button>
                        </form>
                    </td>
                                      
                    <td>
                        <form asp-action="DeleteMake" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@make.Id" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
               


                <tr>
                    <td colspan="3">
                        <table  class="table table-hover" class="modelTable" >
                            <thead>
                                <div class="category">
                                    Models:
                                </div>
                                
                            </thead>
                            <tbody>
                                    <td colspan="3">
                                        <form asp-action="AddModel" method="post" class="form-inline">
                                            <input type="hidden" name="MakeId" value="@make.Id" />
                                            <input type="text" name="Name" class="form-control" placeholder="New Model Name" />
                                            <input type="text" name="Abrv" class="form-control" placeholder="New Model Abrv" />
                                            <button type="submit" class="btn btn-success ml-2">Add Model</button>
                                        </form>
                                    </td>

                                   <td>

                               
                                @foreach (var vmodel in Model.vehicleModels.Where(m => m.MakeId == make.Id))
                                {
                                    <tr>
                                        
                                        <td>
                                            <div class="naming">
                                            Name:
                                            </div>
                                            
                                            <form asp-action="EditModel" method="post" class="form-inline">
                                                <input type="hidden" name="Id" value="@vmodel.Id" />
                                                <input type="hidden" name="MakeId" value="@vmodel.MakeId"/> 
                                                <input type="text" name="Name" value="@vmodel.Name" class="form-control" placeholder="Name" />
                                            <div class="naming">
                                                Abrv:

                                                </div>
                                                <input type="text" name="Abrv" value="@vmodel.Abrv" class="form-control" placeholder="Abrv" />
                                                <button type="submit" class="btn btn-primary ml-2">Save</button>
                                            </form>

                                            
                                            <form asp-action="DeleteModel" method="post" style="display:inline;">
                                                <input type="hidden" name="id" value="@vmodel.Id" />
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                               
                            </tbody>
                        </table>
                    </td>
                </tr>
            }
                
            
     
 